@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot');
    src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff') format('woff'), url('../fonts/icomoon/icomoon.ttf') format('truetype'), url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

header .logo {
    width: 50%;
    margin-top: -20px;
    cursor: pointer;
}

header .navbar {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 70px;
}

    header .navbar ul.navbar-nav {
        margin-top: 10px;
    }

        header .navbar ul.navbar-nav li a {
            font-size: 16px;
            color: whitesmoke;
            cursor: pointer;
        }

            header .navbar ul.navbar-nav li a:hover, header .navbar ul.navbar-nav li a:focus {
                background-color: rgba(96, 133, 181, 0.5);
            }

section {
    /*height: 100vh;*/
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

    section.first-section::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0.85;
        background-size: cover;
        background-repeat: no-repeat;
    }

    section.first-section h1 {
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 48px;
        font-weight: 900;
        text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 0 #555, 0 6px 0 #444, 0 7px 0 #333, 0 8px 7px #001135;
    }

    section.first-section h3 {
        color: #fff;
        font-weight: bold;
        background-color: rgba(140, 130, 130, 0.49);
        display: inline-block;
    }

    section.first-section .btn {
        display: block;
        margin: 15px auto;
    }

    section.second-section {
        background-color: #298DBA;
        color: white;
    }

        section.second-section h1 {
            margin-top: -30px;
            margin-bottom: 50px;
            font-weight: bold;
            font-family: 'Amaranth', sans-serif;
        }

        section.second-section form {
            width: 55%;
            margin: 0 auto;
        }

        section.second-section .input-group-addon.glyphicon {
            top: 0;
            font-size: 17px;
        }

    section.third-section {
        background-color: #195D7C;
        color: white;
    }

        section.third-section form {
            margin-top: 20px;
        }

        section.third-section .email-adress {
            color: white;
            text-decoration: underline;
        }


.bold {
    font-weight: bold;
}

.error-message {
    display: none;
    color: rgb(178, 10, 10);
}

/* Footer */
footer {
    background-color: #124257;
    color: white;
}

    footer .link-container {
        margin-top: 30px;
    }

        footer .link-container ul {
            list-style: none outside none;
            padding-left: 0;
            color: white;
        }

            footer .link-container ul a {
                color: white;
                cursor: pointer;
            }

    footer .social h4 {
        font-weight: 600;
    }

    footer p {
        text-align: center;
        font-size: 17px;
        margin: 10px auto;
    }

    footer .footer-divider {
        width: 50%;
    }

/* Modal */

.modal {
    font-family: 'Droid Serif', serif;
}

.modal .modal-dialog {
    height: 90%;
}

    .modal .modal-dialog .modal-content.offers {
        height: 100%;
    }

.modal .modal-body {
    height: calc(100% - 160px);
    overflow-y: auto;
}

.modal-header .modal-title {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.modal-body img {
    max-height: 150px;
}

.modal-body .price-container {
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal-body .price {
    color: #27AF27;
    font-size: 16px;
}

.modal-body .price-strikethrough {
    text-decoration: line-through;
    color: rgba(115, 105, 105, 0.68);
    font-size: 15px;
    margin-left: 5px;
}

.modal-body .fa-map-marker {
    margin-right: 5px;
}

.modal-body .get-more-offers {
    display: block;
    font-family: Arial, sans-serif;
    margin: 15px auto;
    white-space: normal;
}

.modal-body .extra-card {
    font-size: 20px;
    font-weight: 700;
    height: 270px;
    padding-top: 80px;
}

.modal-body .offer-container {
    margin-bottom: 25px;
    -moz-box-shadow: 0 1px 4px rgba(73, 88, 95, 0.29);
    -webkit-box-shadow: 0 1px 4px rgba(73, 88, 95, 0.29);
    box-shadow: 0 1px 4px rgba(73, 88, 95, 0.29);
}

    .modal-body .offer-container.first-column {
        clear: both;
    }

    .modal-body .offer-container .distance {
        margin-top: 15px;
    }

    .modal-body .offer-container .btn {
        font-family: Arial, sans-serif;
        position: absolute;
        right: 0;
        top: -5px;
    }

    .modal-body .offer-container .offer-title {
        font-size: 15px;
    }

.modal-body .more-offers-section {
    text-align: center;
    margin-top: 30px;
}

    .modal-body .more-offers-section .datepicker.datepicker-inline {
        margin: 0 auto;
    }

    .modal-body .more-offers-section .date-until {
        margin: 10px auto;
    }

        .modal-body .more-offers-section .date-until span {
            color: rgba(26, 98, 131, 0.78);
        }

.modal-body .email-view input {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.modal-body .email-view button {
    display: block;
    margin: 10px auto;
}

.modal-body .success-view button {
    margin-top: 20px;
    white-space: normal;
}

.modal .bid-looking {
    text-align: center;
}

    .modal .bid-looking span {
        color: rgba(26, 98, 131, 0.78);
        font-size: 17px;
    }

        .modal .bid-looking span b {
            font-size: 19px;
        }

    .modal .bid-looking .loader-inner > div {
        background-color: rgba(26, 98, 131, 0.78);
    }

.modal .modal-content.loading-offers {
    text-align: center;
}

    .modal .modal-content.loading-offers .logo-container img {
        width: 50%;
        margin: 0 auto;
    }

    .modal .modal-content.loading-offers .title {
        font-family: 'Oswald', sans-serif;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 30px;
    }

    .modal .modal-content.loading-offers .progress {
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        height: 10px;
    }
        .modal .modal-content.loading-offers .progress .progress-bar {
            background-color: #FBB43B;
        }

    .modal .modal-content.loading-offers .view-offers-btn-container {
        margin-bottom: 20px;
    }

        .modal .modal-content.loading-offers .view-offers-btn-container button {
            font-family: Arial, sans-serif;
        }

    .modal .modal-content.loading-offers .offer-summary {
        color: rgb(243, 149, 15);
        font-weight: 600;
        white-space: pre-line;
    }

    .modal .modal-content.loading-offers .get-email {
        border: 1px solid rgba(142, 135, 135, 0.61);
        background-color: rgba(202, 214, 222, 0.27);
        margin: 10px 15px 15px 15px;
        padding-bottom: 20px;
    }

    .modal .modal-content.loading-offers .header h2 {
        font-size: 40px;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
    }
        
        .modal .modal-content.loading-offers .header span {
            color: #0099cc;
        }

    .modal .modal-content.loading-offers .second-line {
        margin-bottom: 20px;
    }

        .modal .modal-content.loading-offers .second-line h4 {
            font-size: 20px;
        }

    .modal .modal-content.loading-offers .input-container {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

        .modal .modal-content.loading-offers .input-container input {
            font-size: 20px;
            text-align: center;
        }

        .modal .modal-content.loading-offers .input-container button {
            font-family: Arial, sans-serif;
            font-size: 16px;
            margin-left: 20px;
            text-transform: none;
        }

    .modal .modal-content.loading-offers .email-error-msg-container {
        margin-top: 10px;
    }
    

.fade-in.ng-enter,
.fade-in.ng-leave {
    -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 

.fade-in.ng-leave.fade-in.ng-leave-active,
.fade-in.ng-enter {
	opacity: 0;
}

.fade-in.ng-enter.ng-enter-active, 
.fade-in.ng-leave {
	opacity: 1;
}

/*Modified buttons*/ 
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
    font-family: Arial,sans-serif;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

    .btn-primary:active, .btn-primary.active {
        background: #007299;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.btn.outline {
    background: none;
    padding: 10px 8px;
    font-size: 12px;
    -moz-transition-property: background-color, color;
    -o-transition-property: background-color, color;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.btn-primary.outline {
    border: 1px solid #0099cc;
    color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #33a6cc;
    background-color: #33a6cc;
}
    .btn-primary.outline:active, .btn-primary.outline.active {
        border-color: #007299;
        color: #007299;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

/* Price tags */
.tags a {
		float: left;
		position: relative;
		width: auto;
		height: 30px;
		margin-left: 20px;
		padding: 0 12px;
		line-height: 30px;
		background: rgba(31, 141, 214, 0.75);
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		text-decoration: none;		
        cursor: default;
	}

	.tags a:before {
		content: "";
		position: absolute;
		top: 0;		
		width: 0;
		height: 0;		
		border-style: solid;		
	}
	
	.tags a:after {
		content: "";
		position: absolute;
		top: 13px;
		width: 4px;
		height: 4px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		background: #fff;
		-moz-box-shadow: -1px -1px 2px #004977;
		-webkit-box-shadow: -1px -1px 2px #004977;
		box-shadow: -1px -1px 2px #004977;
	}	
	
	.tags a:hover {
		background: #1d85ca;
	}	

/* Add rounded corners to right end of the anchor tag */
	.price-tag a {		
		-moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
		border-bottom-right-radius: 4px;
		-moz-border-radius-topright: 4px;
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
	}
	
	/* Position and show only right border of triangle  */
	.price-tag a:before {		
		left: -15px;	
		border-color: transparent rgba(31, 141, 214, 0.75) transparent transparent;
		border-width: 15px 15px 15px 0;
	}
	
	/* Fix the circle between anchor box and triangle left to it  */
	.price-tag a:after {		
		left: -2px;
	}
	
	.price-tag a:hover:before {
		border-color: transparent #1d85ca transparent transparent;
	}

/* Buttons */
.btn-n {
    border: 3px solid #FBB43B;
    color: #FBB43B;
    font-family: inherit;
    font-size: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 60px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 11;
}

    .btn-n:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        width: 0;
        height: 103%;
        top: 50%;
        left: 50%;
        background: #FBB43B;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    .btn-n:hover, .btn-n:focus {
        color: white;
    }

        .btn-n:hover:after, .btn-n:active:after {
            width: 90%;
            opacity: 1;
        }


/* full opaque background button */
.btn-header {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

    .btn-header:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .btn-header:before,
    .icon-file:before {
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        position: relative;
        -webkit-font-smoothing: antialiased;
    }

.btn-3 {
    background: rgba(252, 173, 38, 0.9);
    color: #fff;
}

    .btn-3:hover {
        background: #f29e0d;
    }

    .btn-3:active {
        background: #f58500;
        top: 2px;
    }

    .btn-3:before {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        line-height: 3;
        font-size: 140%;
        width: 60px;
    }

.btn-3e {
    padding: 20px 100px 20px 50px;
    overflow: hidden;
}

    .btn-3e:before {
        left: auto;
        right: 10px;
        z-index: 2;
    }

    .btn-3e:after {
        width: 25%;
        height: 200%;
        background: rgba(255,255,255,0.1);
        z-index: 1;
        right: 0;
        top: 0;
        margin: -5px 0 0 -5px;
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotate(-20deg);
        -moz-transform-origin: 0 0;
        -moz-transform: rotate(-20deg);
        -ms-transform-origin: 0 0;
        -ms-transform: rotate(-20deg);
        -o-transform-origin: 0 0;
        transform-origin: 0 0;
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }

    .btn-3e:hover:after {
        width: 35%;
    }

.icon-arrow-right:before {
    content: "\e00d";
}

/*Loading dots animation*/
.loading {
  font-size: 30px;
}

    .loading:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 1300ms infinite;
        -moz-animation: ellipsis steps(4,end) 1300ms infinite;
        -o-animation: ellipsis steps(4,end) 1300ms infinite;
        animation: ellipsis steps(4,end) 1300ms infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0;
    }

@-moz-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-ms-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

/*Toast customization*/
.toast.toast-info {
    background-color: #51a351;
    opacity: 0.9;
}

/*Specific category classes*/
section.first-section.default::after {
    background-image: url("../images/vancouver_skyline_281.jpg");
}

section.restaurant::after {
    background-image: url("../images/restaurant.jpg");
}

section.clubs-bars::after {
    background-image: url("../images/clubs-bars.jpg");
}

section.beauty-spa::after {
    background-image: url("../images/beauty-spa.jpg");
}

section.plumbing::after {
    background-image: url("../images/plumbing.jpg");
}

section.air-conditioning::after {
    background-image: url("../images/air-conditioning.jpg");
}

section.auto-repair::after {
    background-image: url("../images/auto-repair.jpg");
}

@media screen and (max-width: 2000px) {

    section.first-section.default::after {
        background-image: url("../images/vancouver_skyline_281_medium.jpg");
    }

    section.clubs-bars::after {
        background-image: url("../images/clubs-bars_medium.jpg");
    }

    section.beauty-spa::after {
        background-image: url("../images/beauty-spa_medium.jpg");
    }

    section.auto-repair::after {
        background-image: url("../images/auto-repair_medium.jpg");
    }
}

/* Mobile */

@media screen and (max-width: 787px) {
    input[type="text"], input[type="number"], input[type="email"], textarea, select {
        font-size: 16px !important;
    }

    .btn-3e:after {
        width: 30%;
    }

    .toast.toast-info {
        opacity: 1!important;
    }

    .loading {
      font-size: 28px;
    }

    header .logo {
        width: auto;
        height: 45px;
        margin-top: -10px;
    }

    header .navbar {
        min-height: 60px;
        background-color: rgba(0, 0, 0, 0.8);
    }

        header .navbar .navbar-collapse {
            background-color: rgba(0, 0, 0, 0.55);
        }

        header .navbar .navbar-toggle {
            background-color: ActiveCaption;
            margin-top: 10px;
        }

            header .navbar .navbar-toggle .icon-bar {
                background-color: rgb(41, 84, 126);
            }

    section.first-section.default::after {
        background-image: url("../images/vancouver_skyline_281_low.jpg");
    }

    section.first-section h1 {
        font-size: 36px;
    }

    section.first-section h3 {
        font-size: 20px;
    }

    section.first-section .btn-3e {
        padding: 20px 80px 20px 30px;
    }

    section.second-section h1 {
        margin-top: initial;
        margin-bottom: 15px;
        font-size: 30px;
    }

    section.second-section form {
        width: 90%;
    }

    section.second-section .btn-n {
        margin: 5px auto;
        padding-left: 10px;
        padding-right: 10px;
        white-space: normal;
    }

   .modal-open {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .modal .modal-dialog {
        height: 97%;
    }

    .modal-body .initial-view .text-container {
        font-size: 16px;
    }

    .modal-body .get-offer-container .btn {
        white-space: normal;
    }

    .modal-body .yes-no-buttons button {
        margin-left: 5px;
    }

    .modal-body .yes-no-buttons .btn-yes {
        font-size: 17px;
    }

    .modal-body .extra-card {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .modal-body .offer-repeat {
        float: left;
        width: 100%;
        position: relative;
        z-index: 9999;
    }

    .modal .bid-looking span {
        font-size: 15px;
    }

    .modal .modal-content.loading-offers .title h2 {
        font-size: 25px;
    }

    .modal-footer {
        padding: 10px;
    }

    /*Specific category classes*/
    section.restaurant::after {
        background-image: url("../images/restaurant_low.jpg");
    }

    section.clubs-bars::after {
        background-image: url("../images/clubs-bars_low.jpg");
    }

    section.beauty-spa::after {
        background-image: url("../images/beauty-spa_low.jpg");
        background-position-x: 60%;
    }

    section.air-conditioning::after {
        background-image: url("../images/air-conditioning_low.jpg");
        background-position-x: 50%;
    }

    section.auto-repair::after {
        background-image: url("../images/auto-repair_low.jpg");
        background-position-x: 50%;
    }
}

@media screen and (max-height: 600px) {
    section.first-section h1 {
        font-size: 26px;
    }

    section.first-section h3 {
        font-size: 16px;
    }

    section.first-section .btn-3e {
        font-size: 12px;
    }

    section.second-section h1 {
        font-size: 20px;
        margin-top: 20px;
    }

    section.second-section .btn-n {
        font-size: 12px;
        padding-left: 5px;
        padding-right: 5px;
    }

    section.third-section h1 {
        font-size: 24px;
    }

    section.third-section h2 {
        font-size: 18px;
    }

    section.third-section .btn-n {
        font-size: 12px;
        padding: 10px 50px;
    }

    .modal-body .initial-view .text-container {
        font-size: 14px;
    }

    .modal-body .get-offer-container .btn {
        font-size: 16px;
    }

    .modal-body .dismiss-modal-message {
        font-size: 12px;
    }
}

@media screen and (max-height: 500px) {
    section.second-section {
        height: 130%;
    }
}